/build*/
/cmake-build-*/
/dist/
/CMakeUserPresets.json
/.cache/
/.idea/
/.vscode/
*.user
*.user.*
*.autosave
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.app/
*.zip
*.tar
*.gz
__pycache__/
*.pyc
.DS_Store
